.navbar{
  margin-bottom: 35px;
  margin-top: 20px;
  position: sticky;
  padding: 10px;
  top: 0;
  z-index: 9;
  height: 70px;
  border-radius: 18px;
  box-shadow: 0 2px 6px rgba(37, 83, 185, 0.1);
}
